.form-type{
    margin-left:-2%;
    height:23px;
    text-align:center;
    background-color:#373737!important;
    border-color:gray!important;
    color:white!important;
}
.form-type::placeholder{
    color:darkgray;
}

.btn-type{
    margin-left:2%;
    height:23px;
    text-align:center;
    font-size: x-small;
    padding: .25rem .5rem;
    color: white;
    font-weight: 600;
}