<meta charset="UTF-8">
<head>

	<link	rel="stylesheet"		href="./css/bootstrap.min.css">
	<link	rel="stylesheet"		href="./css/webRTC.css">
	
	<script	type="text/javascript"	src="./js/bootstrap.bundle.min.js"></script>
	<script	type="text/javascript"	src="./js/ringtonehandler.js"></script>
	<script src="./js/jssip-3.3.6.min.js"></script>
	<script src="./js/webrtc.js"></script>
		
	<!--<script src="./js/main.js"></script>-->
	
	<title>POC WEBRTC</title>
	
	<h1 style='margin-left:2%'>JSSip + Asterisk</h1>

</head>

<body style="background-color: #3f444a;">

	<div class="container" style="max-width:420px;margin-left:30px">
		<video id = 'vid' autoplay='true' style="height:1px">Media DOM</video>
		
		<div id="pnlLoginMenu" 	 class="form-group"	style="display:block;margin-top:5%">
			<div class="row">
				<input type="text"	 id="tbUser"	class="form-type 	form-control		col-5" 			placeholder="User ID"	/>
				<input type="button" id="btnLogin"	class="btn-type 	btn btn-primary 	col-3"			value="LOGIN"			onclick="createUAInstance()" />
			</div>
		</div>
		
		<div id= "pnlSoftphone"	class="form-group" style="display:none;margin-top:5%">
				<div class="row">
					<input type="text"	 id="tbCallNumber"		class="form-type	form-control 		col-5"		placeholder="Call Number"							/>
					<input type="button" id="btnMakeCall"			class="btn-type		btn btn-warning 	col-3"		value="CALL"				onclick="btnMakeCall()"	/>
					<input type="button" id="btnHangupCall"		class="btn-type		btn btn-danger 		col-3"		value="HANGUP"				onclick="btnHangupCall()"	style="display:none"/>
					<input type="button" id="btnAnswerCall"		class="btn-type		btn btn-success 	col-3"		value="ANSWER"				onclick="btnAnswerCall()"	style="display:none"/>
				</div>
		</div>
	</div>
	
	<script type="text/javascript" src="./js/dom.js"></script>

</body>